---
layout: default
title: Zellous Design - Websites for landscaping companies
description: Zellous Design provides web design services for landscaping companies.
contactField:
  - label: Name
    value: ""
    field_type: Text
    field_width: Half
    required_or_optional: Required
  - label: Email
    value: ""
    field_type: Email
    field_width: Half
    required_or_optional: Required
  - label: Website URL
    value: ""
    field_type: Text
    field_width: Half
    required_or_optional: Optional
  - label: Phone
    value: ""
    field_type: Text
    field_width: Half
    required_or_optional: Optional
  - label: Budget
    value: "$1,000, $2,000, $3,000, $4,000"
    field_type: Dropdown
    field_width: Half
    required_or_optional: Optional
  - label: Start Date
    value: "This week, this month, in three months, in sixth months"
    field_type: Dropdown
    field_width: Half
    required_or_optional: Optional
  - label: Message
    value: ""
    field_type: Textarea
    field_width: Full
    required_or_optional: Required
contact_send_image_path: "/img/icon-deliver-message.png"
contact_send_text: "Deliver message"
---
    <div class="page">
        <section class="grid grid--center section-hero">
            <div class="grid__item two-thirds section__inner layout__text">
                <div class="grid">
                    <div class="grid__item one-half portable--one-whole section__heading">
                        <h1 class="editable">&quot;Photo focused&quot; websites for landscaping companies</h1>
                        <p class="editable">Your landscaping work is impeccable and your clients love you, but you&rsquo;re having trouble attracting new clients through your website.<br /><br />It&rsquo;s time to make your site look as professional as your landscaping work does.</p>
                    </div>
                    <div class="grid__item one-half portable--one-whole">
                        <img class="hero__image editable" src="/img/illus-tree.png" alt="Tree illustration" />
                    </div>
                </div>
            </div>
        </section>
        <section class="grid section-1">
            <div class="grid__item ten-twelfths palm--eleven-twelfths section__inner">
                <div class="grid grid--right">
                    <div class="grid__item four-fifths palm--nine-tenths">
                        <div class="grid grid--center">
                            <div class="grid__item three-fifths palm--eleven-twelfths section__heading section-1__heading">
                                <h2 class="editable">Simple and professional</h2>
                                <p class="editable">Merely having a website isn&#39;t enough. Give your visitor&#39;s an experience they&#39;ll remember.</p>
                            </div>
                        </div>
                        <div class="grid grid--center section-1__icons">
                            <div class="grid__item one-third palm--three-quarters section-1__icon">
                                <div class="section-1__icon--inner">
                                    <img class="editable" src="/img/icon-show.png" />
                                    <h3 class="editable">show</h3>
                                    <p class="section-1__icon__text editable">Prominently feature photographs of your work.</p>
                                </div>
                            </div>
                            <div class="grid__item one-third palm--three-quarters section-1__icon">
                                <div class="section-1__icon--inner">
                                    <img class="editable" src="/img/icon-engage.png" />
                                    <h3 class="editable">engage</h3>
                                    <p class="section-1__icon__text editable">Reach out to visitors by giving them ways to connect with you.</p>
                                </div>
                            </div>
                            <div class="grid__item one-third palm--three-quarters section-1__icon">
                                <div class="section-1__icon--inner">
                                    <img class="editable" src="/img/icon-adjust.png" />
                                    <h3 class="editable">adjust</h3>
                                    <p class="section-1__icon__text editable">Designs that look great on laptops, tablets, and phones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-1__shadow"></div>
        </section>
        <section class="grid grid--center section-2">
            <div class="grid__item two-thirds section__inner layout__text-image">
                <div class="grid">
                    <div class="grid__item one-half palm--one-whole lap--two-fifths">
                        <img class="editable" src="/img/illus-flowers.png" alt="Flower illustration" />
                    </div>
                    <div class="grid__item one-half palm--one-whole lap--three-fifths section__heading">
                        <h2 class="editable">Have a website that reflects the quality of your work</h2>
                        <p class="editable">When you&rsquo;re trying to make an impression on a potential customer, visuals matter (and this is two fold):<br /><br />First, the design of your website should match the high level of quality you provide clients through landscaping.<br /><br />Second, don&rsquo;t hide away your project photos on the gallery page, make sure they&rsquo;re everywhere!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid grid--center section-3">
            <div class="grid__item ten-twelfths">
                <div class="section__inner">
                    <div class="grid grid--center">
                        <div class="grid__item ten-twelfths">
                            <div class="grid grid--center">
                                <div class="grid__item three-fifths palm--eleven-twelfths section__heading section-3__heading">
                                    <h2 class="editable">The nitty gritty</h2>
                                    <p class="editable">Fast. Simple. Custom. By using <a href="http://cloudcannon.com/">Cloud Cannon</a>, you get the speed benifits of a flat-file website, the templating power of Jekyll and Liquid, and to top it all off:&nbsp;gloriously simple in-page editing.</p>
                                </div>
                            </div>
                            <div class="grid section-3__icons">
                                <div class="grid__item one-third palm--one-whole section-3__icon-section">
                                    <div class="grid">
                                        <div class="grid__item one-quarter lap--one-whole">
                                            <img class="section-3__icon__img editable" src="/img/icon-edit.png" />
                                        </div>
                                        <div class="grid__item three-quarters lap--one-whole">
                                            <h3 class="section-3__icon__heading editable">in-page editing</h3>
                                            <p class="section-3__icon__text editable">Login, then click and start typing. Editable regions will be highlighted in yellow.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item one-third palm--one-whole section-3__icon-section">
                                    <div class="grid">
                                        <div class="grid__item one-quarter lap--one-whole">
                                            <img class="section-3__icon__img editable" src="/img/icon-no-database.png" />
                                        </div>
                                        <div class="grid__item three-quarters lap--one-whole">
                                            <h3 class="section-3__icon__heading editable">no database</h3>
                                            <p class="section-3__icon__text editable">Typically, websites load quicker when they don&#39;t need to connect to a database.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item one-third palm--one-whole section-3__icon-section">
                                    <div class="grid">
                                        <div class="grid__item one-quarter lap--one-whole">
                                            <img class="section-3__icon__img editable" src="/img/icon-auto-resize.png" />
                                        </div>
                                        <div class="grid__item three-quarters lap--one-whole">
                                            <h3 class="section-3__icon__heading editable">crop images</h3>
                                            <p class="section-3__icon__text editable">Easily crop and zoom images to get your photos just right.</p>
                                        </div>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid grid--center section__contact">
            <div class="grid__item two-thirds palm--five-sixths section__inner">
                <div class="grid grid--center section__heading">
                    <div class="grid__item three-fifths portable--eleven-twelfths contact__heading">
                        <h2 class="editable">Ready for a new site?</h2>
                    </div>
                </div>
                <div class="grid grid--center">
                    <div class="grid__item two-thirds portable--one-whole contact__grid-item">
                        <form id="contact__form" class="grid grid--center contact__form repeatables" data-parsley-validate>
                        {% for field in page.contactField %}
                        
                        {% assign var_field_width = "" %}
                        {% assign var_field_width_class = "" %}
                        {% assign var_required = "" %}
                        
                        
                        {% if field.field_width == "Half" %}
                            {% assign var_field_width = "one-half" %}
                            {% assign var_field_width_class = "contact__field--half" %}
                        {% elsif field.field_width == "Full" %}
                            {% assign var_field_width = "one-whole" %}
                            {% assign var_field_width_class = "contact__field--whole" %}
                        {% else %}
                            {% assign var_field_width = "" %}
                            {% assign var_field_width_class = "" %}
                        {% endif %}
                        
                        {% if field.required_or_optional == "Required" %}
                            {% assign var_required = "true" %}
                        {% elsif field.required_or_optional == "Optional" %}
                            {% assign var_required = "false" %}
                        {% else %}
                            {% assign var_required = "" %}
                        {% endif %}
                        
                        
                            <div class="grid__item contact__field {{ var_field_width }} palm--one-whole {{ var_field_width_class }}">
                            {% if field.required_or_optional == "Required" %}
                            {% endif %}
                            
                            {% case field.field_type %}
                                {% when 'Text' %}
                                    <input id="{{ field.label }}" name="{{ field.label }}" class="contact__input" type="text" value="{{ field.value }}" data-parsley-required="{{ var_required }}" />
                                {% when 'Email' %}
                                    <input id="{{ field.label }}" name="{{ field.label }}" class="contact__input" type="text" value="{{ field.value }}" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="{{ var_required }}" />
                                {% when 'Number' %}
                                    <input id="{{ field.label }}" name="{{ field.label }}" class="contact__input" type="text" value="{{ field.value }}" data-parsley-type="number" data-parsley-trigger="change" data-parsley-required="{{ var_required }}" />
                                {% when 'Dropdown' %}
                                    <select id="{{ field.label }}" name="{{ field.label }}" class="contact__select" type="text" value="" data-parsley-required="{{ var_required }}">
                                        <option></option>
                                        {% assign var_value = field.value | split:", " %}
                                        {% for field_option in var_value %}
                                            <option>{{ field_option }}</option>
                                        {% endfor %}
                                    </select>
                                {% when 'Textarea' %}
                                    <textarea id="{{ field.label }}" name="{{ field.label }}" class="contact__textarea" type="text" value="{{ field.value }}" data-parsley-required="{{ var_required }}"></textarea>
                                {% else %}
                            {% endcase %}
                            
                            {% if field.required_or_optional == "Required" %}
                                <label for="{{ field.label }}" class="contact__label">{{ field.label }}*</label>
                            {% else %}
                                <label for="{{ field.label }}" class="contact__label">{{ field.label }}</label>
                            {% endif %}
                            </div>
                        {% endfor %}
                            <div class="grid__item contact-form__messages"></div>
                            <div>
                                <input type="text" name="_gotcha" style="display:none" />
                            </div>
                            <div class="grid__item contact__submit">
                                <input class="contact__submit-btn" type="submit" value="{{ page.contact_send_text }}" name="Deliver message" style="background-image: url({{ page.contact_send_image_path }});" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>