---
layout: default
title: Zellous Design - Websites for landscaping companies
description: Zellous Design provides web design services for landscaping companies.
contactField:
  - label: Name
    value: ""
    field_type: Text
    field_width: Half
    required_or_optional: Required
  - label: Email
    value: ""
    field_type: Email
    field_width: Half
    required_or_optional: Required
  - label: Website URL
    value: ""
    field_type: Text
    field_width: Half
    required_or_optional: Optional
  - label: Phone
    value: ""
    field_type: Text
    field_width: Half
    required_or_optional: Optional
  - label: Budget
    value: "$1,000, $2,000, $3,000, $4,000"
    field_type: Dropdown
    field_width: Half
    required_or_optional: Optional
  - label: Start Date
    value: "This week, this month, in three months, in sixth months"
    field_type: Dropdown
    field_width: Half
    required_or_optional: Optional
  - label: Message
    value: ""
    field_type: Textarea
    field_width: Full
    required_or_optional: Required
contact_send_image_path: "/img/icon-deliver-message.png"
contact_send_text: "Deliver message"
---
    <div class="page">
        <section class="grid grid--center section-hero">
            <div class="grid__item two-thirds section__inner layout__text">
                <div class="grid">
                    <div class="grid__item one-half portable--one-whole section__heading">
                        <h1 class="editable">&quot;Photo focused&quot; websites for landscaping companies</h1>
                        <p class="editable">Your landscaping work is impeccable and your clients love you, but you&rsquo;re having trouble attracting new clients through your website.<br /><br />It&rsquo;s time to make your site look as professional as your landscaping work.</p>
                    </div>
                    <div class="grid__item one-half portable--one-whole">
                        <img class="hero__image editable" src="/img/illus-tree.png" alt="Tree illustration" />
                    </div>
                </div>
            </div>
        </section>
        <section class="grid section-1">
            <div class="grid__item ten-twelfths palm--eleven-twelfths section__inner">
                <div class="grid grid--right">
                    <div class="grid__item four-fifths palm--nine-tenths">
                        <div class="grid grid--center">
                            <div class="grid__item three-fifths palm--eleven-twelfths section__heading section-1__heading">
                                <h2 class="editable">Simple and professional</h2>
                                <p class="editable">Merely having a website isn&#39;t enough. Give your visitor&#39;s an experience they&#39;ll remember.</p>
                            </div>
                        </div>
                        <div class="grid grid--center section-1__icons">
                            <div class="grid__item one-third palm--three-quarters section-1__icon">
                                <div class="section-1__icon--inner">
                                    <img class="editable" src="/img/icon-show.png" />
                                    <h3 class="editable">show</h3>
                                    <p class="section-1__icon__text editable">Prominently feature photographs of your work.</p>
                                </div>
                            </div>
                            <div class="grid__item one-third palm--three-quarters section-1__icon">
                                <div class="section-1__icon--inner">
                                    <img class="editable" src="/img/icon-engage.png" />
                                    <h3 class="editable">engage</h3>
                                    <p class="section-1__icon__text editable">Reach out to visitors by giving them ways to connect with you.</p>
                                </div>
                            </div>
                            <div class="grid__item one-third palm--three-quarters section-1__icon">
                                <div class="section-1__icon--inner">
                                    <img class="editable" src="/img/icon-adjust.png" />
                                    <h3 class="editable">adjust</h3>
                                    <p class="section-1__icon__text editable">Designs that look great on laptops, tablets, and phones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-1__shadow"></div>
        </section>
        <section class="grid grid--center section-2">
            <div class="grid__item two-thirds section__inner layout__text-image">
                <div class="grid">
                    <div class="grid__item one-half palm--one-whole lap--two-fifths">
                        <img class="editable" src="/img/illus-flowers.png" alt="Flower illustration" />
                    </div>
                    <div class="grid__item one-half palm--one-whole lap--three-fifths section__heading">
                        <h2 class="editable">Have a website that reflects the quality of your work</h2>
                        <p class="editable">When you&rsquo;re trying to make an impression on a potential customer, visuals matter (and this is two fold):<br /><br />First, the design of your website should match the high level of quality you provide clients through landscaping.<br /><br />Second, don&rsquo;t hide away your project photos on the gallery page, make sure they&rsquo;re everywhere!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid grid--center section-3">
            <div class="grid__item ten-twelfths">
                <div class="section__inner">
                    <div class="grid grid--center">
                        <div class="grid__item ten-twelfths">
                            <div class="grid grid--center">
                                <div class="grid__item three-fifths palm--eleven-twelfths section__heading section-3__heading">
                                    <h2 class="editable">The nitty gritty</h2>
                                    <p class="editable">Fast. Simple. Custom. By using <a href="http://cloudcannon.com/">Cloud Cannon</a>, you get the speed benifits of a flat-file website, the templating power of Jekyll and Liquid, and to top it all off:&nbsp;gloriously simple in-page editing.</p>
                                </div>
                            </div>
                            <div class="grid section-3__icons">
                                <div class="grid__item one-third palm--one-whole section-3__icon-section">
                                    <div class="grid">
                                        <div class="grid__item one-quarter lap--one-whole">
                                            <img class="section-3__icon__img editable" src="/img/icon-edit.png" />
                                        </div>
                                        <div class="grid__item three-quarters lap--one-whole">
                                            <h3 class="section-3__icon__heading editable">in-page editing</h3>
                                            <p class="section-3__icon__text editable">Login, then click and start typing. Editable regions will be highlighted in yellow.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item one-third palm--one-whole section-3__icon-section">
                                    <div class="grid">
                                        <div class="grid__item one-quarter lap--one-whole">
                                            <img class="section-3__icon__img editable" src="/img/icon-no-database.png" />
                                        </div>
                                        <div class="grid__item three-quarters lap--one-whole">
                                            <h3 class="section-3__icon__heading editable">no database</h3>
                                            <p class="section-3__icon__text editable">Typically, websites load quicker when they don&#39;t need to connect to a database.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item one-third palm--one-whole section-3__icon-section">
                                    <div class="grid">
                                        <div class="grid__item one-quarter lap--one-whole">
                                            <img class="section-3__icon__img editable" src="/img/icon-auto-resize.png" />
                                        </div>
                                        <div class="grid__item three-quarters lap--one-whole">
                                            <h3 class="section-3__icon__heading editable">crop images</h3>
                                            <p class="section-3__icon__text editable">Easily crop and zoom images to get your photos just right.</p>
                                        </div>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grid grid--center section__form">
            <div class="grid__item two-thirds palm--five-sixths section__inner">
                <div class="grid grid--center section__heading">
                    <div class="grid__item three-fifths portable--eleven-twelfths section__heading form__heading">
                        <h2 class="editable">Need a new site?</h2>
                        <p class="editable">Currently Zellous Design is reaching out to select businesses. If you&#39;d like to be notified when Zellous Design starts accepting all inquires, send me your email and you&#39;ll be the first to know.</p>
                    </div>
                </div>
                <div class="grid grid--center">
                    <div class="grid__item two-thirds portable--one-whole form__grid-item">
                        
                        
                        
                        <!-- To use this example:
                             1. Download this html file
                             2. Replace the form action url with your own from the MailChimp supplied embed code
                             3. Within the action url, replace "subscribe/post" with "subscribe/post-json"
                             4. Be sure the action url starts with http://. If it doesn't, the form will hang when testing the html as a local file in your browser.
                             5. Open this file in a browser on your local machine
                         -->

                        <form action="http://zellous.us11.list-manage.com/subscribe/post-json?u=ffacb7445304a947a09d21e5f&amp;id=d1f00abb8c" method="get" class="grid grid--center form waiting-list-form">
                            <div class="grid__item form__field one-half palm--one-whole form__field--half">
                                <input class="form__input" type="email" value="" name="EMAIL" />
                                <label for="EMAIL" class="form__label">Email*</label>
                            </div>
                            <div class="grid__item form__field one-half palm--one-whole form__field--half">
                                <input class="form__input" type="text" value="" name="NAME" />
                                <label for="NAME" class="form__label">Name</label>
                            </div>
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ffacb7445304a947a09d21e5f_d1f00abb8c" tabindex="-1" value="" /></div>
                            <div class="grid__item form__result"></div>
                            <div class="grid__item form__submit">
                                <input class="form__submit-btn" type="submit" value="Keep me posted" name="subscribe" />
                            </div>
                        </form>

                        
                        <!-- Begin MailChimp Signup Form -->
                        <!--<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" />
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        </style>
                        <div id="mc_embed_signup">
                        <form action="//zellous.us11.list-manage.com/subscribe/post?u=ffacb7445304a947a09d21e5f&amp;id=d1f00abb8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL">Get notified:</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ffacb7445304a947a09d21e5f_d1f00abb8c" tabindex="-1" value="" /></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
                            </div>
                        </form>
                        </div>-->
                        <!--End mc_embed_signup-->
                        
                        <!--<form id="contact__form" class="grid grid--center contact__form repeatables" data-parsley-validate>
                        {% for field in page.contactField %}
                        
                        {% assign var_field_width = "" %}
                        {% assign var_field_width_class = "" %}
                        {% assign var_required = "" %}
                        
                        
                        {% if field.field_width == "Half" %}
                            {% assign var_field_width = "one-half" %}
                            {% assign var_field_width_class = "contact__field--half" %}
                        {% elsif field.field_width == "Full" %}
                            {% assign var_field_width = "one-whole" %}
                            {% assign var_field_width_class = "contact__field--whole" %}
                        {% else %}
                            {% assign var_field_width = "" %}
                            {% assign var_field_width_class = "" %}
                        {% endif %}
                        
                        {% if field.required_or_optional == "Required" %}
                            {% assign var_required = "true" %}
                        {% elsif field.required_or_optional == "Optional" %}
                            {% assign var_required = "false" %}
                        {% else %}
                            {% assign var_required = "" %}
                        {% endif %}
                        
                        
                            <div class="grid__item contact__field {{ var_field_width }} palm--one-whole {{ var_field_width_class }}">
                            {% if field.required_or_optional == "Required" %}
                            {% endif %}
                            
                            {% case field.field_type %}
                                {% when 'Text' %}
                                    <input id="{{ field.label }}" name="{{ field.label }}" class="contact__input" type="text" value="{{ field.value }}" data-parsley-required="{{ var_required }}" />
                                {% when 'Email' %}
                                    <input id="{{ field.label }}" name="{{ field.label }}" class="contact__input" type="text" value="{{ field.value }}" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="{{ var_required }}" />
                                {% when 'Number' %}
                                    <input id="{{ field.label }}" name="{{ field.label }}" class="contact__input" type="text" value="{{ field.value }}" data-parsley-type="number" data-parsley-trigger="change" data-parsley-required="{{ var_required }}" />
                                {% when 'Dropdown' %}
                                    <select id="{{ field.label }}" name="{{ field.label }}" class="contact__select" type="text" value="" data-parsley-required="{{ var_required }}">
                                        <option></option>
                                        {% assign var_value = field.value | split:", " %}
                                        {% for field_option in var_value %}
                                            <option>{{ field_option }}</option>
                                        {% endfor %}
                                    </select>
                                {% when 'Textarea' %}
                                    <textarea id="{{ field.label }}" name="{{ field.label }}" class="contact__textarea" type="text" value="{{ field.value }}" data-parsley-required="{{ var_required }}"></textarea>
                                {% else %}
                            {% endcase %}
                            
                            {% if field.required_or_optional == "Required" %}
                                <label for="{{ field.label }}" class="contact__label">{{ field.label }}*</label>
                            {% else %}
                                <label for="{{ field.label }}" class="contact__label">{{ field.label }}</label>
                            {% endif %}
                            </div>
                        {% endfor %}
                            <div class="grid__item contact-form__messages"></div>
                            <div>
                                <input type="text" name="_gotcha" style="display:none" />
                            </div>
                            <div class="grid__item contact__submit">
                                <input class="contact__submit-btn" type="submit" value="{{ page.contact_send_text }}" name="Deliver message" style="background-image: url({{ page.contact_send_image_path }});" />
                            </div>
                        -->
                    </div>
                </div>
            </div>
        </section>
    </div>

<!--split-->

<script type="text/javascript">
    $(document).ready(function(){
        ajaxMailChimpForm($(".waiting-list-form"), $(".form__result"));
        // Turn the given MailChimp form into an ajax version of it.
        // If resultElement is given, the subscribe result is set as html to
        // that element.
        function ajaxMailChimpForm($form, $resultElement){
            // Hijack the submission. We'll submit the form manually.
            $form.submit(function(e) {
                e.preventDefault();
                if (!isValidEmail($form)) {
                    var error =  "A valid email address must be provided.";
                    $resultElement.html(error);
                    resetFormClasses();
                    $resultElement.addClass("form--error");
                } else {
                    $resultElement.html("Sending...");
                    resetFormClasses();
                    $resultElement.addClass("form--message");
                    submitSubscribeForm($form, $resultElement);
                }
            });
            function resetFormClasses() {
                $resultElement.removeClass("form--error form--message form--already-subscribed form--success");
            }
        }
        // Validate the email address in the form
        function isValidEmail($form) {
            // If email is empty, show error message.
            // contains just one @
            var email = $form.find("input[type='email']").val();
            if (!email || !email.length) {
                return false;
            } else if (email.indexOf("@") == -1) {
                return false;
            }
            return true;
        }
        // Submit the form with an ajax/jsonp request.
        // Based on http://stackoverflow.com/a/15120409/215821
        function submitSubscribeForm($form, $resultElement) {
            $.ajax({
                type: "GET",
                url: $form.attr("action"),
                data: $form.serialize(),
                cache: false,
                dataType: "jsonp",
                jsonp: "c", // trigger MailChimp to return a JSONP response
                contentType: "application/json; charset=utf-8",
                error: function(error){
                    // According to jquery docs, this is never called for cross-domain JSONP requests
                },
                success: function(data){
                    if (data.result != "success") {
                        var message = data.msg || "Sorry. Unable to subscribe. Please try again later.";
                        if (data.msg && data.msg.indexOf("already subscribed") >= 0) {
                            message = "You're already subscribed. Thank you.";
                            resetFormClasses();
                            $resultElement.addClass("form--already-subscribed");
                        } else {
                            resetFormClasses();
                            $resultElement.addClass("form--error");
                        }
                        $resultElement.html(message);
                    } else {
                        $resultElement.html("Thank you!<br>You must confirm the subscription in your inbox.");
                        resetFormClasses();
                        $resultElement.addClass("form--success");
                    }
                }
            });
            function resetFormClasses() {
                $resultElement.removeClass("form--error form--message form--already-subscribed form--success");
            }
        }
    });
</script>
    